.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist_electron/0.js
dist_electron/builder-debug.yml
dist_electron/builder-effective-config.yaml
dist_electron/bundled/background.js
dist_electron/bundled/background.js.LICENSE.txt
dist_electron/bundled/css/main.1c1c2812.css
dist_electron/bundled/favicon.ico
dist_electron/bundled/img/close.5156e8f6.svg
dist_electron/bundled/img/export.954e4d57.svg
dist_electron/bundled/img/goback.d1c90a33.svg
dist_electron/bundled/img/screenshot.777dd68e.svg
dist_electron/bundled/img/setting.87553ed3.svg
dist_electron/bundled/index.html
dist_electron/bundled/js/chunk-vendors.4169307f.js
dist_electron/bundled/js/chunk-vendors.4169307f.js.map
dist_electron/bundled/js/main.b6539887.js
dist_electron/bundled/js/main.b6539887.js.map
dist_electron/bundled/package.json
dist_electron/index.js
dist_electron/meeting-notes Setup 0.1.0.exe
dist_electron/meeting-notes Setup 0.1.0.exe.blockmap
dist_electron/package.json
dist_electron/win-unpacked/chrome_100_percent.pak
dist_electron/win-unpacked/chrome_200_percent.pak
dist_electron/win-unpacked/d3dcompiler_47.dll
dist_electron/win-unpacked/ffmpeg.dll
dist_electron/win-unpacked/icudtl.dat
dist_electron/win-unpacked/libEGL.dll
dist_electron/win-unpacked/libGLESv2.dll
dist_electron/win-unpacked/LICENSE.electron.txt
dist_electron/win-unpacked/LICENSES.chromium.html
dist_electron/win-unpacked/locales/am.pak
dist_electron/win-unpacked/locales/ar.pak
dist_electron/win-unpacked/locales/bg.pak
dist_electron/win-unpacked/locales/bn.pak
dist_electron/win-unpacked/locales/ca.pak
dist_electron/win-unpacked/locales/cs.pak
dist_electron/win-unpacked/locales/da.pak
dist_electron/win-unpacked/locales/de.pak
dist_electron/win-unpacked/locales/el.pak
dist_electron/win-unpacked/locales/en-GB.pak
dist_electron/win-unpacked/locales/en-US.pak
dist_electron/win-unpacked/locales/es-419.pak
dist_electron/win-unpacked/locales/es.pak
dist_electron/win-unpacked/locales/et.pak
dist_electron/win-unpacked/locales/fa.pak
dist_electron/win-unpacked/locales/fi.pak
dist_electron/win-unpacked/locales/fil.pak
dist_electron/win-unpacked/locales/fr.pak
dist_electron/win-unpacked/locales/gu.pak
dist_electron/win-unpacked/locales/he.pak
dist_electron/win-unpacked/locales/hi.pak
dist_electron/win-unpacked/locales/hr.pak
dist_electron/win-unpacked/locales/hu.pak
dist_electron/win-unpacked/locales/id.pak
dist_electron/win-unpacked/locales/it.pak
dist_electron/win-unpacked/locales/ja.pak
dist_electron/win-unpacked/locales/kn.pak
dist_electron/win-unpacked/locales/ko.pak
dist_electron/win-unpacked/locales/lt.pak
dist_electron/win-unpacked/locales/lv.pak
dist_electron/win-unpacked/locales/ml.pak
dist_electron/win-unpacked/locales/mr.pak
dist_electron/win-unpacked/locales/ms.pak
dist_electron/win-unpacked/locales/nb.pak
dist_electron/win-unpacked/locales/nl.pak
dist_electron/win-unpacked/locales/pl.pak
dist_electron/win-unpacked/locales/pt-BR.pak
dist_electron/win-unpacked/locales/pt-PT.pak
dist_electron/win-unpacked/locales/ro.pak
dist_electron/win-unpacked/locales/ru.pak
dist_electron/win-unpacked/locales/sk.pak
dist_electron/win-unpacked/locales/sl.pak
dist_electron/win-unpacked/locales/sr.pak
dist_electron/win-unpacked/locales/sv.pak
dist_electron/win-unpacked/locales/sw.pak
dist_electron/win-unpacked/locales/ta.pak
dist_electron/win-unpacked/locales/te.pak
dist_electron/win-unpacked/locales/th.pak
dist_electron/win-unpacked/locales/tr.pak
dist_electron/win-unpacked/locales/uk.pak
dist_electron/win-unpacked/locales/vi.pak
dist_electron/win-unpacked/locales/zh-CN.pak
dist_electron/win-unpacked/locales/zh-TW.pak
dist_electron/win-unpacked/resources.pak
dist_electron/win-unpacked/resources/app.asar
dist_electron/win-unpacked/resources/elevate.exe
dist_electron/win-unpacked/snapshot_blob.bin
dist_electron/win-unpacked/swiftshader/libEGL.dll
dist_electron/win-unpacked/swiftshader/libGLESv2.dll
dist_electron/win-unpacked/v8_context_snapshot.bin
dist_electron/win-unpacked/vk_swiftshader.dll
dist_electron/win-unpacked/vk_swiftshader_icd.json
dist_electron/win-unpacked/vulkan-1.dll
dist_electron/win-unpacked/会议笔记.exe
